{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": 3,
                "targets": {
                  "chrome": "60",
                  "ie": "9"
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "babel-plugin-styled-components"
    ]
}